
  .home {
    background-color: #94db82;
    display: flex;
    padding-top: 26px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  .header {
    align-self: end;
    display: flex;
    margin-right: 38px;
    width: 100%;
    max-width: 876px;
    gap: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .logo {
    color: #000;
    font-size: 36px;
    align-self: start;
  }
  .nav-links {
    display: flex;
    gap: 31px;
    font-size: 20px;
  }
  .nav-item {
    color: #000;
    flex-basis: auto;
    flex-grow: 1;
    margin: auto 0;
  }
  .login-btn {
    border-radius: 20px;
    background-color: #3b3a3a;
    color: #fff;
    white-space: nowrap;
    padding: 13px 37px;
  }
  @media (max-width: 991px) {
    .login-btn {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .hero-section {
    background-color: #c6c2c2;
    align-self: stretch;
    display: flex;
    margin-top: 11px;
    width: 100%;
    padding-top: 113px;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 991px) {
    .hero-section {
      max-width: 100%;
      padding-top: 100px;
    }
  }
  .hero-content {
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: #000;
    text-align: center;
    padding: 0 65px;
  }
  @media (max-width: 991px) {
    .hero-content {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .hero-title {
    font-size: 40px;
    font-weight: 700;
    align-self: start;
  }
  @media (max-width: 991px) {
    .hero-title {
      max-width: 100%;
    }
  }
  .background-image {
    font-size: 15px;
    font-weight: 400;
    align-self: end;
    margin-top: 25px;
  }
  .hero-description {
    color: #000;
    text-align: center;
    margin-top: 10px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .hero-description {
      max-width: 100%;
    }
  }
  .search-form {
    border-radius: 10px;
    background-color: #f3efef;
    display: flex;
    margin-top: 79px;
    width: 760px;
    max-width: 100%;
    gap: 40px 97px;
    flex-wrap: wrap;
    padding: 27px 29px 14px;
  }
  @media (max-width: 991px) {
    .search-form {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .search-inputs {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;
    font: 400 16px Inter, sans-serif;
  }
  .input-label {
    align-self: start;
    margin-left: 16px;
  }
  @media (max-width: 991px) {
    .input-label {
      margin-left: 10px;
    }
  }
  .input-field {
    border-radius: 5px;
    background-color: #c8c4c4;
    margin-top: 13px;
    padding: 14px 13px;
  }
  .accommodation-group {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  .accommodation-label {
    color: #000;
    text-align: center;
    align-self: start;
    font: 400 16px Inter, sans-serif;
  }
  .accommodation-select {
    display: flex;
    margin-top: 14px;
    width: 100%;
    gap: 9px;
  }
  .select-text {
    color: #000;
    text-align: center;
    flex-grow: 1;
    font: 400 16px Inter, sans-serif;
  }
  .select-arrow {
    display: flex;
    min-height: 24px;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
  .arrow-icon {
    aspect-ratio: 0.9;
    object-fit: contain;
    object-position: center;
    width: 9px;
    align-self: stretch;
    margin: auto 0;
  }
  .all-option {
    color: #000;
    text-align: center;
    align-self: end;
    margin-top: 37px;
    font: 400 16px Inter, sans-serif;
  }
  .search-buttons {
    align-self: start;
    display: flex;
    margin-top: 19px;
    align-items: start;
    gap: 38px;
  }
  .search-arrow {
    display: flex;
    margin-top: 14px;
    min-height: 24px;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
  .search-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  .lodge-list {
    margin-top: 57px;
    width: 100%;
    max-width: 956px;
  }
  @media (max-width: 991px) {
    .lodge-list {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .lodge-grid {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .lodge-grid {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .lodge-card {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .lodge-card {
      width: 100%;
    }
  }
  .lodge-content {
    border-radius: 5px;
    background-color: #f4f2f2;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    text-align: center;
    width: 100%;
    padding: 28px 5px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .lodge-content {
      margin-top: 25px;
    }
  }
  .lodge-image {
    border-radius: 10px;
    background-color: #d9d9d9;
    align-self: center;
    display: flex;
    width: 178px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    white-space: nowrap;
    padding: 79px 36px;
  }
  @media (max-width: 991px) {
    .lodge-image {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .image-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  .image-text {
    margin-top: 13px;
  }
  .lodge-type {
    margin-top: 36px;
  }
  .lodge-price {
    align-self: start;
    margin: 36px 0 0 14px;
  }
  @media (max-width: 991px) {
    .lodge-price {
      margin-left: 10px;
    }
  }
  .pagination {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: 48px;
    width: 40px;
    color: #000;
    white-space: nowrap;
    text-align: center;
    height: 40px;
    padding: 0 13px;
    font: 400 32px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .pagination {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .stats-section {
    margin-top: 84px;
    width: 100%;
    max-width: 957px;
  }
  @media (max-width: 991px) {
    .stats-section {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .stats-container {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .stats-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .stats-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .stats-column {
      width: 100%;
    }
  }
  .stats-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #000;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .stats-grid {
      max-width: 100%;
      margin-top: 5px;
    }
  }
  .stats-row {
    display: flex;
    gap: 16px;
  }
  .stat-item {
    border-radius: 10px;
    background-color: #b7b5b5;
    padding: 57px 31px 14px;
  }
  @media (max-width: 991px) {
    .stat-item {
      padding: 0 20px;
    }
  }
  .stat-item-alt {
    border-radius: 10px;
    background-color: #d9d9d9;
    padding: 57px 30px 14px;
  }
  @media (max-width: 991px) {
    .stat-item-alt {
      padding: 0 20px;
    }
  }
  .info-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .info-column {
      width: 100%;
    }
  }
  .info-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Inter, sans-serif;
    color: #000;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .info-content {
      max-width: 100%;
      margin-top: 7px;
    }
  }
  .info-title {
    font-size: 32px;
    font-weight: 700;
  }
  .info-description {
    font-size: 16px;
    align-self: stretch;
    margin-top: 12px;
  }
  @media (max-width: 991px) {
    .info-description {
      max-width: 100%;
    }
  }
  .rate-button {
    border-radius: 5px;
    background-color: #d9d9d9;
    margin-top: 31px;
    font-size: 20px;
    padding: 9px 16px;
  }
  .faq-section {
    color: #000;
    margin-top: 112px;
    font: 700 48px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .faq-section {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .faq-item {
    border-radius: 10px;
    background-color: #a8a6a6;
    margin-top: 64px;
    width: 882px;
    max-width: 100%;
    color: #000;
    padding: 19px 61px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .faq-item {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .faq-item-alt {
    background-color: #a8a6a6;
    z-index: 10;
    margin-top: 22px;
    width: 883px;
    max-width: 100%;
    color: #000;
    padding: 28px 61px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .faq-item-alt {
      padding: 0 20px;
    }
  }
  .faq-answer {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: -7px;
    width: 883px;
    max-width: 100%;
    color: #000;
    white-space: nowrap;
    padding: 40px 61px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .faq-answer {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .newsletter-section {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: 73px;
    width: 762px;
    max-width: 100%;
    padding: 1px 0 1px 38px;
  }
  @media (max-width: 991px) {
    .newsletter-section {
      padding-left: 20px;
      margin-top: 40px;
    }
  }
  .newsletter-container {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .newsletter-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .newsletter-content {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .newsletter-content {
      width: 100%;
    }
  }
  .newsletter-text {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: start;
    font-family: Inter, sans-serif;
    color: #000;
  }
  @media (max-width: 991px) {
    .newsletter-text {
      margin-top: 40px;
    }
  }
  .newsletter-title {
    font-size: 24px;
    font-weight: 700;
  }
  .newsletter-description {
    font-size: 20px;
    font-weight: 400;
    align-self: stretch;
    margin-top: 21px;
  }
  .newsletter-form {
    aspect-ratio: 6.17;
    object-fit: contain;
    object-position: center;
    width: 394px;
    border-radius: 20px;
    background-color: #9c9494;
    margin-top: 32px;
    max-width: 100%;
  }
  .newsletter-image {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 39%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .newsletter-image {
      width: 100%;
    }
  }
  .image-container {
    border-radius: 10px;
    background-color: #bbb4b4;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    color: #000;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 127px 52px;
    font: 400 15px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .image-container {
      margin-top: 40px;
      white-space: initial;
      padding: 100px 20px;
    }
  }
  .image-wrapper {
    display: flex;
    width: 43px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .image-wrapper {
      white-space: initial;
    }
  }
  .newsletter-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: center;
  }
  .image-text {
    margin-top: 7px;
  }
  .footer {
    background-color: #acaaaa;
    align-self: stretch;
    display: flex;
    margin-top: 97px;
    width: 100%;
    flex-direction: column;
    padding: 18px 54px;
  }
  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .footer-content {
    width: 489px;
    max-width: 100%;
  }
  .footer-columns {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .footer-columns {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .contact-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 75%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .contact-column {
      width: 100%;
    }
  }
  .contact-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: #000;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .contact-info {
      margin-top: 40px;
    }
  }
  .contact-title {
    font-weight: 600;
  }
  .contact-email {
    align-self: stretch;
    margin-top: 33px;
  }
  .contact-phone {
    margin-top: 21px;
  }
  .social-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .social-column {
      width: 100%;
    }
  }
  .social-title {
    color: #000;
    font: 600 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .social-title {
      margin-top: 40px;
    }
  }
  .copyright {
    color: #000;
    align-self: center;
    margin-top: 72px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .copyright {
      max-width: 100%;
      margin-top: 40px;
    }
  }
